#link_root_path {
    margin-left: 10px;
	font-size: 24px;
    text-decoration: none;
    color: #4169E1;
}

#carousel {
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

nav {
    padding: 1rem;
    padding-right: 2rem;
	height: 5rem;
    display: flex;
    justify-content: space-between;
}

nav ul {
	display: flex;
    list-style: none;
}

nav ul li {
    padding-left: 2rem;
}

nav h1 {
    margin-right: auto;
}

a:hover {
    color: #1E90FF;
}