footer{    
    position: absolute;
    background-color: blue;
    color: #FFF;
    width: 100%;
    text-align: center;
    line-height: 100px;
    position: absolute;
    bottom: 0.5rem;
    height: 5rem;
    overflow:hidden;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.5rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}