#carousel {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    margin-top: 2rem;
}

#about {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

#skills {
    padding-bottom: 1rem;
    justify-content: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: #FFFFFF;
}

.item-skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 0.5rem;
    top: 0;
    position:relative;
    -webkit-transition: top 0.4s ease-out;
    -moz-transition: top 0.4s ease-out;
    -o-transition: top 0.4s ease-out;
}

.item-skill img{
    width: 55px;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
}

.item-skill:hover {
    top: -10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #1E90FF;
}