@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: #47333c;
    color: #FFFFFF;
    font-family: 'Sans', 'Courier New', Courier, monospace;
}

.main-content {
    margin: 1rem;
}